CI_ENVIRONMENT = development

app.baseURL = 'https://ptarapps.uitm.edu.my/ims566_group/'

database.default.hostname = localhost
database.default.database = ims566_group
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
